
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Quem Somos...</h1>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Sobre
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

  <!--/ About Star /-->
  <section class="section-about">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="about-img-box">
            <img src="/slide-about-1.jpg" alt="" class="img-fluid">
          </div>
          <div class="sinse-box">
            <h3 class="sinse-title">PD Imóveis
              <br> Desde 2005</h3>
            <p>Investimentos e Negociações</p>
          </div>
        </div>
        <div class="col-md-12 section-t8">
          <div class="row">
            <div class="col-md-6 col-lg-5">
              <img src="/post-1.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-2  d-none d-lg-block">
              <div class="title-vertical d-flex justify-content-start">
                <span>Propriedades Exclusivas</span>
              </div>
            </div>
            <div class="col-md-6 col-lg-5 section-md-t3">
              <div class="title-box-d">
                <h3 class="title-d">Nós
                  <span class="color-d">realizaremos </span> seus
                  <br> sonhos!</h3>
              </div>
              <p class="color-text-a">
                Desde  2005, somos referência no mercado imobiliário por nossa postura ética, 
                transparente e por mantermos  estreito relacionamento com nossos clientes, 
                com respeito e profissionalismo.
                Nossos consultores de negócios são treinados e habilitados para uma completa assessoria em todas 
                as áreas do negócio imobiliário, seguindo as diretrizes do Decreto nº. 81.871, de 29-06-1978, 
                que regularizou as funções do corretor de imóveis.
              </p>
              
              <p class="color-text-a">
                
                Realizamos avaliação com exatidão do imóvel, 
                proporcionando aos nossos clientes total segurança na venda e compra de imóveis.
                <div id="contato"></div>

                Afastamos o risco de valores fora da realidade mercadologica que costumam ser gerados pela especulação imobiliária.
               
                
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ About End /-->

 <!--/ Agents Star /-->
 <section class="section-agents section-t8">
  <div class="container" >
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a" >Nossos Agentes</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card-box-d">
          <div class="card-img-d">
            <img src="/agent-4.jpg" alt="" class="img-d img-fluid">
          </div>
          <div class="card-overlay card-overlay-hover">
            <div class="card-header-d">
              <div class="card-title-d align-self-center">
                <h3 class="title-d">
                  Daiana 
                    <br> Souza
                </h3>
              </div>
            </div>
            <div class="card-body-d">
              <p class="content-d color-text-a">
                Especialista em apartamentos em condomínios centrais e baratos!
              </p>
              <div class="info-agents color-a">
                <p>
                  <strong>Telefone: </strong> +55 (24) 98839-0145</p>
                <p>
                  <strong>E-mail: </strong> danasouza@pdimoveis.com.br</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-d">
          <div class="card-img-d">
            <img src="/agent-1.jpg" alt="" class="img-d img-fluid">
          </div>
          <div class="card-overlay card-overlay-hover">
            <div class="card-header-d">
              <div class="card-title-d align-self-center">
                <h3 class="title-d">
                  Pedro Paulo
                    <br> Neri
                </h3>
              </div>
            </div>
            <div class="card-body-d">
              <p class="content-d color-text-a">
                Especialistas em casas de energia auto-sustentáveis!
              </p>
              <div class="info-agents color-a">
                <p>
                  <strong>Telefone: </strong> +55 (21) 98133-2967</p>
                <p>
                  <strong>E-mail: </strong> pp_neri@pdimoveis.com.br</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-d">
          <div class="card-img-d">
            <img src="/agent-5.jpg" alt="" class="img-d img-fluid">
          </div>
          <div class="card-overlay card-overlay-hover">
            <div class="card-header-d">
              <div class="card-title-d align-self-center">
                <h3 class="title-d">
                  Paulo Victor
                    <br> Penna
                </h3>
              </div>
            </div>
            <div class="card-body-d">
              <p class="content-d color-text-a">
                 Especialista em imóveis com boas áreas de lazer 
                 em localidades reservadas e tranquilas!
              </p>
              <div class="info-agents color-a">
                <p>
                  <strong>Telefone: </strong> +55 (22) 99857-6794</p>
                <p>
                  <strong>E-mail: </strong> pv_penna@pdimoveis.com.br</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Agents End /-->
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="w-header-a">
            <img src="/logo2.png">
            <h3 class="w-title-a text-brand">PD<br>Imóveis</h3>
          </div>
          <div class="w-body-a">
              <p class="w-text-a color-text-a">
                Uma das maiores imobiliárias da Região Serrana, tendo imóveis nas principais cidades; como Petrópolis, 
                Teresópolis e Nova Friburgo! Venha curtir a serra fluminense conosco, com toda sua história, tranquilidade e beleza natural! 
              </p>
            </div>
            <br>
          <nav class="nav-footer">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="/">Home</a>
              </li>
              <li class="list-inline-item">
                <a href="property-grid2">Propriedades</a>
           <li class="list-inline-item">
                <a class="nav-link" href="about">Sobre</a>
          </li>
              </li>
              <li class="list-inline-item">
                <a class="nav-link" href="formlogin">Login</a>
          </li>
          </nav>
          <div class="socials-a">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="/">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="/">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="/">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="/">
                  <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="copyright-footer">
            <p class="copyright color-text-a">
              &copy; Copyright
              <span class="color-a">PD Imóveis</span> Todos os direitos reservados.
            </p>
          </div>
          <div class="credits">
            <span class="color-a">Desenvolvido por Alfa Software &copy; </span> Todos os direitos reservados.
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--/ Footer End /-->

</body>
