<br>
<br>
<br>
<br>
<h1>Fale com o Corretor</h1>
<br>
<div>
<div style="float:left">
<img class="rounded float-left" src="/{{corretor.img}}" style="width:150px;heidht=250px;"alt="">
</div>
<div class="container-fluid"style="margin-left:180px">
<p> Nome:   {{corretor.nome}} </p>
<p> CRECI:  {{corretor.creci}} </p>
<p> Contato:  {{corretor.email}} </p>
</div>
</div>





