<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>Seja um Corretor</h1>
<br>
<form action="/register/corretor" method="POST">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">CPF</label>
      <input type="text" class="form-control" id="inputcpf" placeholder="CPF" name="cpf">
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4">CRECI</label>
      <input type="text" class="form-control" id="inputcreci" placeholder="CRECI" name="creci">
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4">Nome</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Nome" name="nome">
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4">Data de Nascimento</label>
      <input type="date" class="form-control" id="inputdate" placeholder="Nascimento"name="data_nasc">
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4">Genero</label>
      <input type="text" class="form-control" id="inputgenero" placeholder="M/F"name="genero">
    </div>
    
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password" name="senha">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Escolha sua foto</label>
      <input type="file" class="form-control" id="inputPassword4" placeholder="Password" name="img">
    </div>
  </div>
  </div>
  <div class="form-group">
  </div>
  <div>
  <button type="submit"style="margin-left:590px; background-color:#57A695;border-color: white;" class="btn btn-primary">Criar Corretor</button>
  </div>
</form>
<br>
<br>
<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="w-header-a">
            <img src="/logo2.png">
            <h3 class="w-title-a text-brand">PD<br>Imóveis</h3>
          </div>
          <div class="w-body-a">
              <p class="w-text-a color-text-a">
                Uma das maiores imobiliárias da Região Serrana, tendo imóveis nas principais cidades; como Petrópolis, 
                Teresópolis e Nova Friburgo! Venha curtir a serra fluminense conosco, com toda sua história, tranquilidade e beleza natural! 
              </p>
            </div>
            <br>
          <nav class="nav-footer">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="/">Home</a>
              </li>
              <li class="list-inline-item">
                <a href="property-grid2">Propriedades</a>
              </li>
              <li class="list-inline-item">
                <a class="nav-link" href="formlogin">Login</a>
          </li>
           <li class="list-inline-item">
                <a class="nav-link" href="about">Sobre</a>
          </li>
          <li class="list-inline-item">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Área de Cadastro
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="formCorretor">Corretores</a>
               <a class="dropdown-item" href="formImovel">Imóveis</a>
            </div>
          </li>
          <li class="list-inline-item">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Edição
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="list/corretores">Corretores</a>
              <a class="dropdown-item" href="list/imoveis">Imóveis</a>
            </div>
            </ul>
          </nav>
          <div class="socials-a">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="/">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="/">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="/">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="/">
                  <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="copyright-footer">
            <p class="copyright color-text-a">
              &copy; Copyright
              <span class="color-a">PD Imóveis</span> Todos os direitos reservados.
            </p>
          </div>
          <div class="credits">
            <span class="color-a">Desenvolvido por Alfa Software &copy; </span> Todos os direitos reservados.
          </div>
        </div>
      </div>
    </div>
  </footer>