
<div class="intro intro-carousel">
    <div id="carousel" class="owl-carousel owl-theme">
        <div class="carousel-item-a intro-item bg-image" style="background-image: url(/slide-3.jpg)">
          <div class="overlay overlay-a"></div>
          <div class="intro-content display-table">
            <div class="table-cell">
              <div class="container">
                <div class="row">
                  <div class="col-lg-8">
                    <div class="intro-body">
                      <p class="intro-title-top"></p>Itaipava, Petrópolis</p>
                      <h1 class="intro-title mb-4">
                        <span class="color-b">Granja Brasil </span> 
                        <br> Apartamento</h1>
                      <p class="intro-subtitle intro-price">
                        <a href="about#contato"><span class="price-a">Comprar | R$ R$ 3.600.000</span></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item-a intro-item bg-image" style="background-image: url(/slide-2.jpg)">
          <div class="overlay overlay-a"></div>
          <div class="intro-content display-table">
            <div class="table-cell">
              <div class="container">
                <div class="row">
                  <div class="col-lg-8">
                    <div class="intro-body">
                      <p class="intro-title-top">Itaipava, Petrópolis</p>
                      <h1 class="intro-title mb-4">
                        <span class="color-b">Itaipava  All</span> 
                        <br> Suítes</h1>
                      <p class="intro-subtitle intro-price">
                        <a href="about#contato"><span class="price-a">Comprar | R$ 550.000</span></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>  
        <div class="carousel-item-a intro-item bg-image" style="background-image: url(/slide-1.jpg)">
          <div class="overlay overlay-a"></div>
          <div class="intro-content display-table">
            <div class="table-cell">
              <div class="container">
                <div class="row">
                  <div class="col-lg-8">
                    <div class="intro-body">
                      <p class="intro-title-top"></p>Vale do Pinheiros, Nova Friburgo</p>
                      <h1 class="intro-title mb-4">
                        <span class="color-b">Pinheiros </span> 
                        <br>Casa</h1>
                      <p class="intro-subtitle intro-price">
                        <a href="about#contato"><span class="price-a">Comprar | R$ 3.300.000</span></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
     <section class="section-services section-t8" id="servicos">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Nossos Serviços</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="fa fa-gamepad"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Diversão</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                  Divirta-se com as áreas de lazer de nossos imóveis e condomínios-club parceiros. 
                  Piscinas, áreas para festas, churrasqueira, academia, parques, salão de jogos e muito mais!!!
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="fa fa-usd"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Venda</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                Você corretor que precisa vender seus imóveis, entre em conosco. 
                Aqui, você pode vender seus imóveis com toda segurança e alta visibilidade,
                com quem tem esperiência no mercado. 
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="fa fa-home"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Imóveis</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                Consiga a casa dos seus sonhos, com um dos melhores preços do mercado!!!
                Temos desde apartamentos em regiões centrais até casas isoladas para a maior
                traquilidade e descanso. 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<br>
<br>
<br>
<br>
<br>
<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="w-header-a">
            <img src="/logo2.png">
            <h3 class="w-title-a text-brand">PD<br>Imóveis</h3>
          </div>
          <div class="w-body-a">
              <p class="w-text-a color-text-a">
                Uma das maiores imobiliárias da Região Serrana, tendo imóveis nas principais cidades; como Petrópolis, 
                Teresópolis e Nova Friburgo! Venha curtir a serra fluminense conosco, com toda sua história, tranquilidade e beleza natural! 
              </p>
            </div>
            <br>
          <nav class="nav-footer">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="/">Home</a>
              </li>
              <li class="list-inline-item">
                <a href="property-grid2">Propriedades</a>
            
           <li class="list-inline-item">
                <a class="nav-link" href="about">Sobre</a>
          </li>
           </li>
              <li class="list-inline-item">
                <a class="nav-link" href="formlogin">Login</a>
          </li>
            </ul>
          </nav>
          <div class="socials-a">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="/">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="/">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="/">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="/">
                  <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="copyright-footer">
            <p class="copyright color-text-a">
              &copy; Copyright
              <span class="color-a">PD Imóveis</span> Todos os direitos reservados.
            </p>
          </div>
          <div class="credits">
            <span class="color-a">Desenvolvido por Alfa Software &copy; </span> Todos os direitos reservados.
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--/ Footer End /-->