.col-centered{
    float: none;
    margin: 0 auto;
}

.header{
   background-color:orange;
}

.header > h1{
    color:white;
}
.header > p{
    color:white;
}
.header_link{
    color:white;
}
/*Para dispositivos com width menor que 768px*/
body {
  padding-top: 50px;
}

.card-body > h4{
  color:orange;
  font-weight: bold;
}

.card-body > p{
  color:grey; 
}

.fa-star {
  color: orange;  
}

/*Para dispositivos com width maior ou igual a 768px*/
@media (min-width: 768px) {
 body {
     padding-top: 20px;
  }
}

.card-img-top{
  height:200px;
  width: 100px;
}
