
h1{
    color:blue;
    
}
body{
    
}
figure{
    margin-top: 5cm;
    text-align:center;
}

#b1{
margin-left: 16cm;

}
.tabela{
    margin-left: 12.5cm;  
    color: aliceblue;
    border:2px solid rgb(100,100,100);
    border-radius:5px;
    width: 25%;
}