body{

    color:#333333;
    font-family: 'Lucida Sans Unicode','Lucida Grande', sans-serif;
}
h1{

    background-image:url(../img/body-background.png);
}
h2{
    
    border-bottom:2px solid #333333;
}

h3{
    text-align: center;
}

figure{

    background-color:#F2EDED;
    border:1px solid #ccc;
    text-align:center;
}
figcaption{
    font-style: italic;
}
p{
    margin: 1cm;
}