div{
    margin:5px;
    
}
#teclado{
        width: 5cm;
    padding: 20px;
    text-align: center;
}
input{
    border: 2px solid black;
    
}
body{
    
    border: 2px solid black;
    width:250px;
    text-align: center;
    
}
h2{
    background-color: gray;
    padding: 10px;
    
}
button{
    text-align:left;
    font:normal 15pt arial;
    width: .8cm;
}
#btnc{
    font-display: unset;
    text-align:left;
    margin-left:14px;
     
}