body{
    margin-left: auto;
    margin-right: auto;
    width: 940px;
    color:#333333;
    font-family: 'Lucida Sans Unicode','Lucida Grande', sans-serif;
}
h1{
    padding: 10px;
    background-image:url(img/body-background.png);
       
    
}

h2{
    margin-top:30px;
    border-bottom:2px solid #333333;
}

h3{
    text-align: center;
    
}

figure{
    margin:30px;
    padding: 15px;
    background-color:#F2EDED;
    border:1px solid #ccc;
    text-align:center;
}

figcaption{

    margin-top: 10px;
    font-style: italic;
}

p{
    padding: 0 45px;
    text-indent:15px;
    text-align:justify;
    margin:1cm;

}


#centro-distribuicao {

    margin-left: auto;
    margin-left: 5cm;
    width:550px;

}

footer{

    columns: #777;;
    margin:30px 0;
    padding: 30px 0;

}

footer img{

    margin-right: 30px;
    vertical-align: middle;
    width:94px;
}

#familia-pelho {
    float:right;
    margin: 0 0 10px 10px;
}

p::first-line {
    font-variant: small-caps;
}

h1 + p {
    text-indent: 0;
}
