<section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Quem Somos...</h1>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="index.html">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Sobre
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

  <!--/ About Star /-->
  <section class="section-about">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="about-img-box">
            <img src="img/slide-about-1.jpg" alt="" class="img-fluid">
          </div>
          <div class="sinse-box">
            <h3 class="sinse-title">PD Imóveis
              <br> Desde 2005</h3>
            <p>Investimentos e Negociações</p>
          </div>
        </div>
        <div class="col-md-12 section-t8">
          <div class="row">
            <div class="col-md-6 col-lg-5">
              <img src="img/about-2.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-2  d-none d-lg-block">
              <div class="title-vertical d-flex justify-content-start">
                <span>Propriedades Exclusivas</span>
              </div>
            </div>
            <div class="col-md-6 col-lg-5 section-md-t3">
              <div class="title-box-d">
                <h3 class="title-d">Nós
                  <span class="color-d">realizaremos </span> seus
                  <br> sonhos!</h3>
              </div>
              <p class="color-text-a">
                Desde  2005 , somos referência no mercado imobiliário por nossa postura ética, 
                transparente e por mantermos  estreito relacionamento com nossos clientes, 
                com respeito e profissionalismo.
                Nossos consultores de negócios são treinados e habilitados para uma completa assessoria em todas 
                as áreas do negócio imobiliário, seguindo as diretrizes do Decreto nº. 81.871, de 29-06-1978, 
                que regularizou as funções do corretor de imóveis.
              </p>
              <p class="color-text-a">
                Realizamos avaliação com exatidão do imóvel, 
                proporcionando aos nossos clientes total segurança na venda e compra de imóveis.
                Afastamos o risco de valores fora da realidade mercadologica que costumam ser gerados
                pela especulação imobiliária.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ About End /-->
